body {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
}
#head {
    height: fit-content;
    width: fit-content;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 20px;
    z-index: -1;
    opacity: 1;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'img_container'
    'head_item2'
}
#img_container {
    position: relative;
    margin: auto;
}
#head_img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    grid-area: head_img;
    border: 1px solid gray;
}
#head_item1 {
    grid-area: head_item1;
    width: 150px;
}
#head_item2 {
    grid-area: head_item2;
    box-shadow: 0px 3px 10px lightgray;
    border-radius: 10px;
    padding: 10px;
    width: -webkit-fill-available;
}
.head_item {
    text-align: center;
}
.item {
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-gap: 10px;
}
.bodyitem {
    height: fit-content;
    display: grid;
    grid-gap: 10px;
}
#backToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid gray;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    transition: ease-out 0.3s;
}
.buttonDiv {
    height: 3px;
    width: 20px;
    background-color: black;
}
#buttonDiv1 {
    transform: rotateZ(60deg) translateX(4px) translateY(-6px);
    left: 5px;
}
#buttonDiv2 {
    transform: rotateZ(120deg) translateX(0px) translateY(5px);
}
#tabs {
    display: flex;
    border-bottom: 1px solid gray;
    flex-grow: 1fr 1fr 1fr 1fr;
    z-index: 0;
}
.tablinks {
    padding: 10px;
    font-size: 15px;
    border: none;
    width: 100%;
}
.tablinks:hover {
    background-color: #ccc;
}
.tablinks.active {
    background-color: rgb(184, 181, 181);
}
@media only screen and (min-width:600px) {
    #head {
        width: inherit;
        grid-template-areas: 
         'img_container head_item2 head_item2'
         'img_container head_item2 head_item2'
         'img_container head_item2 head_item2';
    }
    #head_img {
        height: 100px;
        width: 100px;
    }
    #head_item1 {
        width: 100px;
    }
    .bodyitem {
        padding: 10px;
    }
    .tablinks {
        font-size: 20px;
    }
}
@media only screen and (min-width:900px) {
    body {
        grid-template-areas: 
        'tabs'
        'bodytab';
    }
    #head {
        z-index: 1;
        left: 10px;
        top: 10px;
        width: 300px;
        grid-template-areas: 
        'img_container'
        'head_item2';
        opacity: 1 !important;
        transform: scale(1) !important;
    }
    #head_img {
        height: 200px;
        width: 200px;
    }
    #head_item1 {
        width: 200px;
    }
    #tabs {
        grid-area: tabs;
        padding: 10px 10px 0 330px !important;
    }
    .tablinks {
        font-size: 25px;
    }
    .bodyitem {
        padding: 10px 10px 10px 330px !important;
    }

}