@font-face {
    font-family: lemon;
    src: url(assets/fonts/lemon.ttf);
}
#videos {
    width: -webkit-fill-available;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}
.yt-container {
    height: 100%;
    width: 100%;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    transition: transform .2s;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    box-shadow: 3px 3px 5px gray;
}
iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.yt-container:hover {
    transform: scale(1.05);
}