body {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
}
#head {
    margin: auto;
    height: auto;
    width: auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    opacity: 1;
}
#head_img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
#body {
    padding-top: 200px;
    padding-bottom: 50px;
}
#footer {
    position: fixed;
    height: fit-content;
    width: fit-content;
    z-index: 1;
    background: transparent;
    display: flex;
    bottom: -10px;
    right: 10px;
    transition: ease-in 0.2s;
}
.item {
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-gap: 10px;
}
.bodyitem {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px lightgray;
}
.icon {
    height: 60px;
    width: 70px;
}

@keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade_out {
    from {opacity: 1;}
    to {opacity: 0;}
}
