body {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
}
#head {
    height: fit-content;
    width: fit-content;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 20px;
    z-index: -2;
    opacity: 1;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'img_container'
    'head_item2'
}
#img_container {
    position: relative;
    margin: auto;
}
#head_img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    grid-area: head_img;
}
#head_item1 {
    grid-area: head_item1;
    width: 150px;
}
#head_item2 {
    grid-area: head_item2;
    box-shadow: 0px 3px 10px lightgray;
    border-radius: 10px;
    padding: 10px;
    width: -webkit-fill-available;
}
.head_item {
    text-align: center;
}
.item {
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-gap: 10px;
}
.bodyitem {
    display: grid;
    grid-gap: 10px;
}
@media only screen and (min-width:600px) {
    #head {
        width: inherit;
        grid-template-areas: 
         'img_container head_item2 head_item2'
         'img_container head_item2 head_item2'
         'img_container head_item2 head_item2';
    }
    #head_img {
        height: 100px;
        width: 100px;
    }
    #head_item1 {
        width: 100px;
    }
    .bodyitem {
        padding: 10px;
    }
}
@media only screen and (min-width:900px) {
    body {
        grid-template-areas: 
        'tabs'
        'bodytab';
    }
    #head {
        left: 10px;
        top: 10px;
        width: 300px;
        grid-template-areas: 
        'img_container'
        'head_item2';
        opacity: 1 !important;
        transform: scale(1) !important;
    }
    #head_img {
        height: 200px;
        width: 200px;
    }
    #head_item1 {
        width: 200px;
    }
    #tabs {
        grid-area: tabs;
        padding: 10px 10px 10px 330px !important;
    }
    .mainbar {
        padding: 10px 10px 10px 330px !important;
    }
}