@font-face {
    font-family: lemon;
    src: url(/Duotlai/assets/fonts/lemon.ttf);
}
body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
    color: black;
    width: auto;
}
#head {
    position: fixed;
    margin: 0;
    z-index: 1;
    padding: 5px;
    display: flex;
    height: auto;
    width: 100%;
    background-color: #a9a9a9;
    box-shadow: 0px 4px 5px gray;
}
.heada {
    text-decoration: none;
    background: transparent;
    color: white;
    font-size: 10px;
    height: 100%;
    width: auto;
}
#head1 {
    grid-area: head1;
    font-size: 35px;
    font-family: lemon;
    flex-grow: 5;
    height: auto;
    vertical-align: middle;
}
.inline {
    display: inline;
}
.a_div {
    text-align: center;
    height: 100%;
    padding: 15px;
    transition: transform .2s;
    background: transparent;
}
#head2 {
    grid-area: head2;
    flex-grow: 1;
}
#head3 {
    grid-area: head3;
    flex-grow: 1;
}
#head4 {
    grid-area: head4;
    flex-grow: 1;
}
#head5 {
    grid-area: head5;
    flex-grow: 1;
}


#body {
    display: grid;
    width: auto;
    height: auto;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding-top: 100px;
}
.yt-container {
    min-height: 250px;
    width: auto;
    border: none;
    border-radius: 10px;
    transition: transform .2s;
    visibility: auto;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    box-shadow: 3px 3px 5px gray;
}
iframe {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: transform .2s;
}
.text:hover {
    transform: scale(1.5);
}
.zoom:hover {
    transform: scale(1.05);
}


@media only screen and (min-width: 600px) {
    #head1 {
        font-size: 40px;
    }
    .a_div {
        padding: 20px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    #head1 {
        font-size: 50px;
    }
    .a_div {
        padding: 25px;
        font-size: 20px;
    }
}
